# Django #
backend/*.log
backend/*.pot
backend/*.pyc
backend/__pycache__
backend/db.sqlite3
backend/media

# Backup files #
*.bak

# If you are using PyCharm #
.idea
.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/

# Python #
backend/*.py[cod]
backend/*$py.class

# Distribution / packaging
backend/.Python build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/*.manifest
backend/*.spec

# Installer logs
backend/pip-log.txt
backend/pip-delete-this-directory.txt

# Unit test / coverage reports
backend/htmlcov/
backend/.tox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/.pytest_cache/
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/.hypothesis/

# Jupyter Notebook
backend/.ipynb_checkpoints

# pyenv
backend/.python-version

# celery
backend/celerybeat-schedule.*

# SageMath parsed files
backend/*.sage.py

# Environments
backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/

# mkdocs documentation
backend/site

# mypy
backend/.mypy_cache/

# sftp configuration file
backend/sftp-config.json

# Package control specific files Package
backend/Control.last-run
backend/Control.ca-list
backend/Control.ca-bundle
backend/Control.system-ca-bundle
backend/GitHub.sublime-settings

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

backend/
